<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<h5>Send Post request @ jumia-scrapper.herokuapp.com/scrape</h5>

<pre><code class="json language-json">
<h6>#PYTHON EXAMPLE</h6>
DATA = {"url":"your link"}

URL = jumia-scrapper.herokuapp.com/scrape

response = requests.post.get(url =URL,data = DATA)

</code></pre></h4>
</div>
</body>

</html>