<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<h1>Eg. Post request @ jumia-scrapper.herokuapp.com/scrape</h1>
<h4><pre><code class="json language-json">data = {
"url":
"https:/www.google.co.in/",
}
</code></pre></h4>
<h2><br>url = jumia-scrapper.herokuapp.com/scrape</<br>></h2>
<h3><br>response = requests.post.get(url,data)</<br>></h3>

</div>
</body>

</html>