<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<ul>
    <li>Django</li>

    <li>Django Rest Framework</li>

    <li>Heroku</li>
</ul>

<p><strong>How this works:</strong></p>

<ul>
    <li>User makes a <code>POST</code> request to the API.</li>

    <li>Sends a <code>URL</code> as payload</li>

</ul>

<p><strong>Routes:</strong></p>

<ul>
    <li>Base URL: <code>https://jumia-scrapper.herokuapp.com</code></li>

    <li>Scrape Request: <code>https://jumia-scrapper.herokuapp.com/scrape/</code></li>

    <li>Request Method: <code>POST</code></li>

    <li>Scheme:</li>
</ul>

<pre><code class="json language-json">
<h6>#PYTHON EXAMPLE</h6>
DATA = {"url":"your link"}

URL = jumia-scrapper.herokuapp.com/scrape

response = requests.post(url =URL,data = DATA)

</code></pre></h4>
</div>
</body>

</html>